<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
   <form action='/mongooses/<%=animal._id%>' method='post'>
        <a href='/'>home</a>
    
        <p>Name:
            <input type='text' name='name' value=<%=animal.name%>>
        </p>
        <p>Species:
    <input type='text' name='specie' value=<%=animal.specie%>>
        </p>
        <button>Update!</button>
        <hr>
        
   </form>
    
</body>

</html>